BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A:link {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #cc0000; TEXT-DECORATION: none
}
A.a01:link {
	FONT-SIZE: 10pt; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a01:visited {
	FONT-SIZE: 10pt; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a01:active {
	FONT-SIZE: 10pt; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a01:hover {
	FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a02:link {
	FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a02:visited {
	FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a02:active {
	FONT-SIZE: 10pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a02:hover {
	FONT-SIZE: 10pt; COLOR: #ff9900; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a03:link {
	FONT-SIZE: 10pt; COLOR: #663399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a04:link {
	FONT-SIZE: 10pt; COLOR: #2e89b6; TEXT-DECORATION: none
}
A.a04:visited {
	FONT-SIZE: 10pt; COLOR: #2e89b6; TEXT-DECORATION: none
}
A.a04:active {
	FONT-SIZE: 10pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.a04:hover {
	FONT-SIZE: 10pt; COLOR: #666666; TEXT-DECORATION: none
}
A.a05:link {
	FONT-SIZE: 10pt; COLOR: #ff6600; none: 
}
A.a05:visited {
	FONT-SIZE: 10pt; COLOR: #6699cc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.a05:active {
	TEXT-DECORATION: none
}
A.a05:hover {
	FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.a06:link {
	FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.a06:visited {
	FONT-SIZE: 10pt; COLOR: #cccccc; TEXT-DECORATION: none
}
A.a06:active {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.a06:hover {
	FONT-SIZE: 10pt; COLOR: #ffcc00; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.a07:link {
	COLOR: #999999; TEXT-DECORATION: none
}
A.a07:visited {
	COLOR: #660099; TEXT-DECORATION: none
}
A.a07:active {
	TEXT-DECORATION: none
}
A.a07:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a08:link {
	COLOR: #ff66ff; TEXT-DECORATION: none
}
A.a08:visited {
	COLOR: #660099; TEXT-DECORATION: none
}
A.a08:active {
	TEXT-DECORATION: none
}
A.a08:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a09:link {
	COLOR: #cccccc; underline: 
}
A.a09:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a09:active {
	COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.a09:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
.bt-st-14pt-B {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.bt-st-12pt-B {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-B {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-B-I {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-STYLE: italic; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-12pt {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-shsj {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; TEXT-INDENT: 18pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-16line {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-16line-shsj {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; TEXT-INDENT: 18pt; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-14 {
	FONT-WEIGHT: normal; FONT-SIZE: 14pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.table-hong {
	BACKGROUND-COLOR: #cc0000
}
.nr-bj-hong {
	BACKGROUND-COLOR: #cc0000
}
.nr-st-9pt-shsj-DQ {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; TEXT-INDENT: 18pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: justify
}
.nr-st-9pt-16line-DQ {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: justify
}
.nr-st-9pt-16line-shsj-DQ {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; TEXT-INDENT: 18pt; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: justify
}
.table-bjt {
	BACKGROUND-IMAGE: url(../images/save0563.jpg)
}
.nr-st-9pt-bj-huei {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #333333
}
.nr-st-9pt-20line-huei {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 32px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-20line-bai {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.xw-bj {
	BACKGROUND-POSITION: 260px 180px; FONT-SIZE: 9pt; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/xw-tu1.gif); COLOR: #333333; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-zjj-3 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; VERTICAL-ALIGN: 5%; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.tab {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(../cpzn/zhuangshi/images/1.gif); BACKGROUND-REPEAT: no-repeat
}
.nr-st-9pt-25line {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; LINE-HEIGHT: 25px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.nr-st-9pt-20line {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.footer {
	FONT-SIZE: 9pt; WORD-SPACING: 2pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.bodytext {
	FONT-SIZE: 9pt; COLOR: #003333; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.heading01 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #660000; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.popup {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.heading02 {
	FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.list {
	FONT-SIZE: 9pt; COLOR: #006699; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.bodytext2 {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.heading03 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #003366; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
.box01 {
	BORDER-RIGHT: #cc0000 thin; BORDER-TOP: #cc0000 thin; BORDER-LEFT: #cc0000 thin; BORDER-BOTTOM: #cc0000 thin; BACKGROUND-COLOR: #fffbf0
}
.footer1 {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.border {
	BORDER-RIGHT: #cc0000 1px outset; BORDER-TOP: #cc0000 1px outset; BORDER-LEFT: #cc0000 1px outset; COLOR: #ff9900; BORDER-BOTTOM: #cc0000 1px outset
}
.line {
	
}
.bodytextb {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "Arial", "MingLiU", "MS Gothic", "MS Sans Serif"
}
