BODY {
	SCROLLBAR-FACE-COLOR: #bebebe; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #e4e4e4; SCROLLBAR-TRACK-COLOR: #d8d9da; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
text11 {
	FONT-SIZE: 11px; TEXT-DECORATION: none
}
.text12 {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.text12 {
	FONT-SIZE: 12px; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.service12_grey {
	FONT-SIZE: 12px; COLOR: #666666
}
.service12_grey:link {
	TEXT-DECORATION: underline
}
.service12_grey:hover {
	TEXT-DECORATION: none
}
.service12_grey:active {
	TEXT-DECORATION: none
}
.service12_grey:unknown {
	TEXT-DECORATION: underline
}
.service12_bk2 {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.service12_bk2:link {
	TEXT-DECORATION: none
}
.service12_bk2:hover {
	TEXT-DECORATION: underline
}
.service12_bk2:active {
	TEXT-DECORATION: none
}
.service12_bk2:unknown {
	TEXT-DECORATION: underline
}
.mode_bg {
	BORDER-RIGHT: #999999; BACKGROUND-POSITION: left top; BORDER-TOP: #999999; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(images/about_05.jpg); BORDER-LEFT: #999999; BORDER-BOTTOM: #999999; BACKGROUND-REPEAT: no-repeat
}
.text13_words {
	FONT-SIZE: 13px; COLOR: #a2a2a2; LINE-HEIGHT: 18px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.text10 {
	FONT-SIZE: 10px; COLOR: #666666; TEXT-DECORATION: none
}
.text12_orange {
	FONT-SIZE: 12px; COLOR: #9c3f06; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.mode2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; COLOR: #666666; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
.mode3 {
	BORDER-RIGHT: #999999 1px dashed; BORDER-TOP: #999999 1px dashed; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed; BACKGROUND-COLOR: #dddddd
}
