  <!-- Footer -->

<div id="piaofu" style="position:absolute; z-index:9999; border:0px solid #ccc;">
    <div style="text-align:right;">
               <!--<a href="javascript:void(0)" onclick="javascript:closePiaofu()" style="background-color: #A00;color:#fff; padding:0px 5px; text-decoration:none; font-size:12px;">[关闭]</a> -->
    </div>
    <a href="https://ks.wjx.top/vj/PGs4R4F.aspx" target="_blank" style="">
        <img src="2018/images/kaoshi.png" border="0" width="200" height="100" />
    </a>
</div>
<script>
	
  <footer class="footer" id="footer" style="background-color:white;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>
		<!-- Social Media -->
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
		  {% for link in site.data.sitetext.footer.social  %}
            <li class="list-inline-item">
			  {% if link.url %}
              <a href="{{ link.url }}">
                {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
              </a>
			  {% endif %}
            </li>
			{% endfor %}
          </ul>
        </div>
		<!-- Legal -->
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="legal">{{ site.data.sitetext.footer.legal | default: "Privacy Policy" }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% if page.layout == "page" %}
<script>
fixPageShort();
function fixPageShort() {
  if(window.innerHeight > document.body.offsetHeight) {
    document.getElementById("footer").style.position="fixed";
    document.getElementById("footer").style.bottom=0;
    document.getElementById("footer").style.right=0;
    document.getElementById("footer").style.left=0;
    document.getElementById("footer").style.width="100%";
  }
}
</script>
{% endif %}
  <!-- End Footer -->
