vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Mar 2003 14:23:14 -0000
vti_extenderversion:SR|4.0.2.2717
vti_backlinkinfo:VX|jsdw/words/zhouzhuun.htm index.html dycj/index.html jszy/index.html jjpd/index.htm jsdw/words/yuyan.htm jxjy/index.html main/index.html temp/lxj.htm xfxm/index.html yfxm/index.htm jsdw/index.htm jsdw/words/heqiang.htm klsg/index.html
vti_cacheddtm:TX|31 Mar 2003 14:23:14 -0000
vti_filesize:IR|191
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
