---
layout: default
---
{% include navheader.html %}

{% include services.html %}
{% include portfolio_grid.html %}
{% include timeline.html %}
{% include team.html %}
{% include clients.html %}
{% include contact.html %}

<div id="piaofu" style="position:absolute; z-index:9999; border:0px solid #ccc;">
    <div style="text-align:right;">
               <!--<a href="javascript:void(0)" onclick="javascript:closePiaofu()" style="background-color: #A00;color:#fff; padding:0px 5px; text-decoration:none; font-size:12px;">[关闭]</a> -->
    </div>
    <a href="https://ks.wjx.top/vj/PGs4R4F.aspx" target="_blank" style="">
        <img src="/images/kaoshi.png" border="0" width="200" height="100" />
    </a>
</div>
<script>
